body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#pokedex {
    color: white;
    min-height: 50vh;
    background-color: rgb(71,209,178);
    display: flex;
    padding: 24px;
    flex-direction: column;

}

#pokemonId{
    position: absolute;
    right: 331px;
    top: 227px;
    opacity: 0.5;
    scale: 6.2;

}
#pokemonPicture {
    /* position: absolute; */
    margin-top: 114px;
    /* top: 192px; */
    width: 319px;
    z-index: 99;

}

#infobox {
    min-height: 250px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -64px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 4px 1px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

#statChart {
    margin-top: 40px;
    height: 556px !important;
    width: 556px !important;
    /* background-color: rgb(98,226,203); */
    border-radius: 32px;
    

}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    margin-top: 16px;

}

nav span:hover {
    scale: 1.1;
    cursor: pointer;
    opacity: 0.4;
}

.singleStatLine {
    width: 256px;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}


#firstType,
#secondType {
    background-color: rgb(98,226,203);
   
    text-align: center;
    width: 64px;
    padding: 4px;
    border-radius: 24px;
    color: white;
}

.pokedexHeader {
    display: flex;
    width: 100%;
    height: 128px;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
}

.w100 {
    width: 100%;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.typeBox {
    flex-direction: row;
    display: flex;
    margin-top: -20px;
    gap: 8px
}