/* Normal */
.normal {
    background-color: #8A8A80;
}

/* Fire */
.fire {
    background-color: #CD5C5C;
}

/* Water */
.water {
    background-color: #4F94CD;
}

/* Grass */
.grass {
    background-color: #71C671;
}

/* Electric */
.electric {
    background-color: #FFD700;
}

/* Ice */
.ice {
    background-color: #87CEEB;
}

/* Fighting */
.fighting {
    background-color: #A05252;
}

/* Poison */
.poison {
    background-color: #8A2BE2;
}

/* Ground */
.ground {
    background-color: #CD853F;
}

/* Flying */
.flying {
    background-color: #ADD8E6;
}

/* Psychic */
.psychic {
    background-color: #FF69B4;
}

/* Bug */
.bug {
    background-color: #9ACD32;
}

/* Rock */
.rock {
    background-color: #C0C0C0;
}

/* Ghost */
.ghost {
    background-color: #8B008B;
}

/* Dark */
.dark {
    background-color: #2E2E2E;
}

/* Steel */
.steel {
    background-color: #A9A9A9;
}

/* Fairy */
.fairy {
    background-color: #FFB6C1;
}
