/* Normal */
.normal {
    background-color: #8A8A80 !important;
}

/* Fire */
.fire {
    background-color: #CD5C5C !important;
}

/* Water */
.water {
    background-color: #4F94CD !important;
}

/* Grass */
.grass {
    background-color: #71C671 !important;
}

/* Electric */
.electric {
    background-color: #FFD700 !important;
}

/* Ice */
.ice {
    background-color: #87CEEB !important;
}

/* Fighting */
.fighting {
    background-color: #A05252 !important;
}

/* Poison */
.poison {
    background-color: #8A2BE2 !important;
}

/* Ground */
.ground {
    background-color: #CD853F !important;
}

/* Flying */
.flying {
    background-color: #ADD8E6 !important;
}

/* Psychic */
.psychic {
    background-color: #FF69B4 !important;
}

/* Bug */
.bug {
    background-color: #9ACD32 !important;
}

/* Rock */
.rock {
    background-color: #C0C0C0 !important;
}

/* Ghost */
.ghost {
    background-color: #8B008B !important;
}

/* Dark */
.dark {
    background-color: #2E2E2E !important;
}

/* Steel */
.steel {
    background-color: #A9A9A9 !important;
}

/* Fairy */
.fairy {
    background-color: #FFB6C1 !important;
}

/* Dragon */
.dragon {
    background-color: #7038F8 !important;
}
